<div id='links-container'>
	<form action="/waffles" id='new-waffle' method="post">
		<input id='waffle-input-box' type="text" name="title" placeholder='Construct your waffle...'>
		<input id='waffle-input-box' type="text" name="url" placeholder='Link (optional)'>
		<input id='waffle-input-box' type="text" name="tags" placeholder='Tags'>
		<button id='post-waffle' type="submit">Send waffle</button>
	</form>
</div>

<div id='links-container'>
<h1 id='header-1'>What are you waffling on about?</h1>
	<ul id='links'>

	  <% @waffles.reverse_each do |link| %>
	    <li class='link'>
    		<div class='description'>
    			<%= link.title %>
    			<span class='source'>
	    			added at <%= link.time %> by
	    			<a href='#'>jamieallen59@gmail.com</a>
	    		</span>
    		</div>

    		<section id='link-and-button-container'>
    			<div id='link-buttons'>
    				<form id="reply-action" action="*********">
		  				<input id='reply-button' type="submit" value="Reply">
		  				<img id ='reply-icon' src='/images/reply_hover.png'>
						</form>
		  			<form id="link-out-action" action="<%= link.url %>">
		  				<input id='link-out-button' type="submit" value="More info">
		  				<img id ='more-icon' src='/images/more.png'>
						</form>
					</div>
    		</section>
	    </li>
	  <% end %>

	</ul>
</div>